In [1]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo) (2.2.1)

In [3]:
import pymongo as pym

In [6]:
client = pym.MongoClient('mongodb+srv://yokesh:yokesh@cluster0.kye9bqq.mongodb.net/test')
db = client['task2']
information = db.telephonedirectory

In [8]:
data = [{'name':'dinesh','age':26,'location':'salem','phonenumber':8015787170},
        {'name':'vinoth','age':20,'location':'coimbatore','phonenumber':8489780743},
        {'name':'guna','age':26,'location':'salem','phonenumber':9791970646},
        {'name':'chilambu','age':26,'location':'chennai','phonenumber':9791970640},
        {'name':'gokul','age':26,'location':'mumbai','phonenumber':7845035760},
        {'name':'dhakshna','age':24,'location':'trichy','phonenumber':9894245126},
        {'name':'jineeth','age':25,'location':'chennai','phonenumber':7708889819}]

In [9]:
information.insert_many(data)

In [10]:
# Retriving the data from the database
for i in information.find():
    print(i)

{'_id': ObjectId('637cda350f5dc3fc66406eaf'), 'name': 'dinesh', 'age': 26, 'location': 'salem', 'phonenumber': 8015787170}
{'_id': ObjectId('637cda350f5dc3fc66406eb0'), 'name': 'vinoth', 'age': 20, 'location': 'coimbatore', 'phonenumber': 8489780743}
{'_id': ObjectId('637cda350f5dc3fc66406eb1'), 'name': 'guna', 'age': 26, 'location': 'salem', 'phonenumber': 9791970646}
{'_id': ObjectId('637cda350f5dc3fc66406eb2'), 'name': 'chilambu', 'age': 26, 'location': 'chennai', 'phonenumber': 9791970640}
{'_id': ObjectId('637cda350f5dc3fc66406eb3'), 'name': 'gokul', 'age': 26, 'location': 'mumbai', 'phonenumber': 7845035760}
{'_id': ObjectId('637cda350f5dc3fc66406eb4'), 'name': 'dhakshna', 'age': 24, 'location': 'trichy', 'phonenumber': 9894245126}
{'_id': ObjectId('637cda350f5dc3fc66406eb5'), 'name': 'jineeth', 'age': 25, 'location': 'chennai', 'phonenumber': 7708889819}

In [11]:
information.find_one()

{'_id': ObjectId('637cda350f5dc3fc66406eaf'),
 'name': 'dinesh',
 'age': 26,
 'location': 'salem',
 'phonenumber': 8015787170}

In [13]:
for i in information.find({"location":"chennai"}):
    print(i)

{'_id': ObjectId('637cda350f5dc3fc66406eb2'), 'name': 'chilambu', 'age': 26, 'location': 'chennai', 'phonenumber': 9791970640}
{'_id': ObjectId('637cda350f5dc3fc66406eb5'), 'name': 'jineeth', 'age': 25, 'location': 'chennai', 'phonenumber': 7708889819}

In [14]:
for i in information.find({"age":{"$gte":24}}):
    print(i)

{'_id': ObjectId('637cda350f5dc3fc66406eaf'), 'name': 'dinesh', 'age': 26, 'location': 'salem', 'phonenumber': 8015787170}
{'_id': ObjectId('637cda350f5dc3fc66406eb1'), 'name': 'guna', 'age': 26, 'location': 'salem', 'phonenumber': 9791970646}
{'_id': ObjectId('637cda350f5dc3fc66406eb2'), 'name': 'chilambu', 'age': 26, 'location': 'chennai', 'phonenumber': 9791970640}
{'_id': ObjectId('637cda350f5dc3fc66406eb3'), 'name': 'gokul', 'age': 26, 'location': 'mumbai', 'phonenumber': 7845035760}
{'_id': ObjectId('637cda350f5dc3fc66406eb4'), 'name': 'dhakshna', 'age': 24, 'location': 'trichy', 'phonenumber': 9894245126}
{'_id': ObjectId('637cda350f5dc3fc66406eb5'), 'name': 'jineeth', 'age': 25, 'location': 'chennai', 'phonenumber': 7708889819}

In [18]:
#update one
information.update_one({"phonenumber":8015787170},{"$set":{"age":27,"location":"mumbai"}})

In [19]:
for i in information.find({"phonenumber":8015787170}):
    print(i)

{'_id': ObjectId('637cda350f5dc3fc66406eaf'), 'name': 'dinesh', 'age': 27, 'location': 'mumbai', 'phonenumber': 8015787170, 'place': 'mumbai'}

In [20]:
# delete one
information.delete_one({"name":"dinesh"})

In [21]:
for i in information.find():
    print(i)

{'_id': ObjectId('637cda350f5dc3fc66406eb0'), 'name': 'vinoth', 'age': 20, 'location': 'coimbatore', 'phonenumber': 8489780743}
{'_id': ObjectId('637cda350f5dc3fc66406eb1'), 'name': 'guna', 'age': 26, 'location': 'salem', 'phonenumber': 9791970646}
{'_id': ObjectId('637cda350f5dc3fc66406eb2'), 'name': 'chilambu', 'age': 26, 'location': 'chennai', 'phonenumber': 9791970640}
{'_id': ObjectId('637cda350f5dc3fc66406eb3'), 'name': 'gokul', 'age': 26, 'location': 'mumbai', 'phonenumber': 7845035760}
{'_id': ObjectId('637cda350f5dc3fc66406eb4'), 'name': 'dhakshna', 'age': 24, 'location': 'trichy', 'phonenumber': 9894245126}
{'_id': ObjectId('637cda350f5dc3fc66406eb5'), 'name': 'jineeth', 'age': 25, 'location': 'chennai', 'phonenumber': 7708889819}

In [22]:
information.delete_many({"location":"chennai"})

In [23]:
for i in information.find():
    print(i)

{'_id': ObjectId('637cda350f5dc3fc66406eb0'), 'name': 'vinoth', 'age': 20, 'location': 'coimbatore', 'phonenumber': 8489780743}
{'_id': ObjectId('637cda350f5dc3fc66406eb1'), 'name': 'guna', 'age': 26, 'location': 'salem', 'phonenumber': 9791970646}
{'_id': ObjectId('637cda350f5dc3fc66406eb3'), 'name': 'gokul', 'age': 26, 'location': 'mumbai', 'phonenumber': 7845035760}
{'_id': ObjectId('637cda350f5dc3fc66406eb4'), 'name': 'dhakshna', 'age': 24, 'location': 'trichy', 'phonenumber': 9894245126}